@{
  Layout = "_Layout";
}

<h1>Welcome to the List of Best Restaurants by cuisine!</h1>
<p>@Html.ActionLink("See all cuisines", "Index", "Cuisines")</p> 
<p>@Html.ActionLink("Add new Restaurant Name", "Create", "Restaurants")</p>
